.search-container {
    background-color: #DBE8F2;
    width: 100%;
    height: 400px;
    padding: 30px;
}
.search-rooms {
    height: 300px;
}
.search-input-field {
    display: flex;
    flex-flow: column;
}

.search-input-field label {
    color: #000000;
    font-size: 14px;
}

.bottom-row {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 11.25px;
}

.checkbox-containter {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    height: 45.5px;
}

.checkbox-containter span {
    color: #000000 ;
}

.reset-button {
    font-size: small;
    font-weight: 600;
    margin-right: 20px;
    color: #2196f3;
}

.browser-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: box-shadow .3s, border .3s;
}

.next-red-button {
    color: #ffffff !important;
}

.footer-choose {
    width: 1065px;
}

.choose-room {
    min-height: 680px;
}

.create-student {
    min-height: 685px;
}

